<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Lista Transportistas</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de transportistas</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/shipper/new'}">Nuevo Transportista</a>
                    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
                </div>
                <form method="post" th:action="@{/shipper/BuscarTransportistas}">
                    <input name="searchField" class="form-control mb-3" type="text" placeholder="Search"/>
                </form>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Nombre de la compañia</th>
                        <th>Teléfono</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="shipper, info : ${shipperList}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${shipper.companyName}"></td>
                        <td th:text="${shipper.phone}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/shipper/edit?id=' + ${shipper.shipperId}}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{'/shipper/delete?id=' + ${shipper.shipperId}}">Borrar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>