<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Lista de Mascotas</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de Mascotas</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/mascota/new'}">Nueva Mascota</a>
                    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
                </div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Nombre Mascota</th>
                        <th>Genero</th>
                        <th>Edad</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Vacunado</th>
                        <th>Desparasitado</th>
                        <th>Persona(Dueño)</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="mascota, info : ${listamascotashtml}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${mascota.nombre_mascota}"></td>
                        <td th:text="${mascota.genero}"></td>
                        <td th:text="${mascota.edad}"></td>
                        <td th:text="${mascota.fecha_nacimiento}"></td>
                        <td th:text="${mascota.vacunado}"></td>
                        <td th:text="${mascota.desparasitado}"></td>
                        <td th:text="${mascota.persona.nombre}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/mascota/edit?id=' + ${mascota.idMascotas}}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{'/mascota/delete?id=' + ${mascota.idMascotas}}">Borrar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>